.visualizeContainer {
	display: flex;
  flex-direction: column;
	margin-top: -270px;
  margin-bottom: 270px;
  
}
.visualizeContainer h1{
  font-size: 30px;
}

@media screen and (max-width: 667px) {
  .visualizeContainer {
    margin-top: -230px;
  margin-bottom: 200px;
  }
}

.red {
	color: red;
}

.green {
	color: green;
}
