* {
   box-sizing: border-box;
   margin: 0 auto;
   font-size: 16px;
   font-family: 'Poppins', sans-serif;
}

body {
   background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
   min-height: 100vh;
}

.flexcolumn {
   display: flex;
   direction: column;
   align-items: center;
   justify-content: center;
}
.flexrow {
   display: flex;
   direction: row;
   align-items: center;
   justify-content: center;
}

h1 {
   font-family: 'Lato', sans-serif;
}

/*global img tag css */
img {
   width: 100%;
   height: auto;
}
button {
   background-image: linear-gradient(
      to right,
      #606c88 0%,
      #3f4c6b 51%,
      #606c88 100%
   );
}
button {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;
   box-shadow: 0 0 20px rgb(134, 176, 203);
   border-radius: 10px;
}

button:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
}

button:active {
   box-shadow: none;
}
